label {
  font-weight: 500;
  font-size: .9rem;
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  outline: none;
  transition: all 0.3s ease-in-out;
  &:focus {
    border: 1px solid #7937ff;
  }
}
.form-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.form-select:focus {
  border: 1px solid #7937ff;
  box-shadow: none;
}
textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  outline: none;
  transition: all 0.3s ease-in-out;
}
textarea:focus {
  border: 1px solid #7937ff !important;
  box-shadow: none !important;
}
button{
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #7937ff;
  color: #fff;
}